streamlit
spacy
nltk
scikit-learn
streamlit-lottie
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
pydantic>=1.8.2
spacy==3.2.1
thinc==8.0.10

