streamlit==1.22.0
spacy==3.5.1
nltk==3.8.1
scikit-learn==1.2.2
streamlit-lottie==0.0.8
blis==0.7.9
numpy==1.23.5
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0.tar.gz
